@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: aliceblue;
}

/* header  */
header {
    padding: 20px;
    text-align: center;
    background-color: #1b63ff;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

main {
    margin: 20px auto;
    width: 600px;
    text-align: center;

}

main>div>h1 {
    font-size: 18px;
}

main>div>p {
    font-size: 14px
}

/* form */
.input-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(231, 231, 231);
}

.input-food {
    padding: 5px 10px;
    outline: none;
    width: 100%;
    margin-right: 15px;
    border: 1px solid ghostwhite;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.input-button {
    padding: 5px 10px;
    background-color: #1b63ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    border-color: gray;
    text-transform: uppercase;
    font-size: 12px;
    width: 80px;
}

section {
    margin: 20px 0;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(231, 231, 231);
    padding: 20px;
}

.food-container {
    list-style: none;
    text-align: left;
}

.food-container .food-item {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid rgb(231, 231, 231);
    margin: 10px 0;
    color: gray;
    text-transform: capitalize;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-container .food-item:hover {
    background-color: rgb(79, 123, 255);
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
}

/* alerts */
.alert {
    background: #29a746;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin: 10px 0;
    text-align: left;
    color: #fff;
    border-left: 5px solid green;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.alert button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

/* No list */
#no-list {
    color: gray;
}

#no-list img {
    width: 240px;
    opacity: 0.5;
}

#food-list-statistics {
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}